.container {
    width: 1140px;
    height: 6972px;
    margin: 0 auto;
}

.header {
    background-image: url(images/heroimage.png);
    height: 595px;
    width: 1140px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
}


nav ul {
    display: flex;
    justify-content: space-between;   
font-family: aller, sans-serif;
font-weight: 400;
font-style: normal;
}

li a:hover {
    color:#EDD9BF;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #3D2E19;
}

.nav-logo img {
    width: 69.13px;
    height: 40.12px;
    padding: 15px;
}

.hero-title img {
    width: 580px;
    height: 326.736px;
    position: absolute;
    top: 100px;
    left: 50px;
}

nav ul li {
    list-style: none;
   
}

nav li a {
    text-decoration: none;
    color: #D6B252;
    padding: 10px;
}

.bio {
    display: flex;
    gap: 15px;
    margin-top: 20px; 
}

.growing {
    display: flex;
    gap: 15px;
    background-color: #F2F2F2;
}
.left-col {
    width: 50%;
}

.left-col img {
    width: 100%;
}

.right-col {
    width: 50%;
}


.family-card {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card {
    width: 258px;
    height: 696px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #D6B252;
}


.family {
    text-align: center;
    background-color: #46482D;
    height: 895px;
    width: 1140px;
}

.family 

.zoo {
    background-image: url(images/zoo.png);
    width: 1140px;
    height: 753px;
}

.zooinfo {
    background-color: rgba(139, 63, 8, 66%);
    width: 600px;
    height: 480px;
    margin-left: 20px;
    padding:10px;
}

.zooinfo h2 {
    font-family: ronnia, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

button {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background: #F8953D;
    color: white;
    display: block;
    margin: 20px auto;
}

h1 {
font-family: ronnia, sans-serif;
font-weight: 600;
font-style: normal;
color: #D6B252;
}
 h2 {
    font-family: ronnia, sans-serif;
    font-weight: 600;
    font-style: normal;
 }



