body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-image: url(images/heroimage.png);
    height: 595px;
    width: 1140px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
}


nav ul {
    display: flex;
    justify-content: space-between;   
font-family: aller, sans-serif;
font-weight: 400;
font-style: normal;
}

li a:hover {
    color:#EDD9BF;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #3D2E19;
}

.nav-logo img {
    width: 69.13px;
    height: 40.12px;
    padding: 15px;
}

.hero-title img {
    width: 580px;
    height: 326.736px;
    position: absolute;
    top: 100px;
    left: 50px;
}

nav ul li {
    list-style: none;
   
}

nav li a {
    text-decoration: none;
    color: #D6B252;
    padding: 10px;
}

.bio {
    display: flex;
    gap: 15px;
    margin-top: 20px; 
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: grey;
    font-size: 16px;
}


.bio h1 {
    font-size: 40px;
}

.bio img {
  width: 627px;
  height: 525px;  
}

.growing {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #F2F2F2;
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: grey;
    font-size: 16px;
    height: 674px;
    width: 1140px;
}

.two-col {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.text-col {
    width: 50%;
}

.text-col h1 {
    font-size: 40px;
}

.text-col p {
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: grey;
    font-size: 16px;
}

.image-col {
    width: 50%;
}

.image-col img {
    width: 100%;
}

.heading-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.growing h1 {
    font-size: 40px;
}

.growing .left-col img {
height: 38px;
width: 50px;
}





.family-card {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card {
    width: 258px;
    height: 696px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #D6B252;
}


.family {
    text-align: center;
    background-color: #46482D;
    height: 895px;
    padding-top: 40px;

}

.family h1 {
    font-size: 40px;
}


.zoo {
    background-image: url(images/zoo.png);
    width: 1140px;
    height: 753px;
    padding-top: 20px;
    background-repeat: no-repeat;
}

.zooinfo {
    background-color: rgba(139, 63, 8, 66%);
    width: 600px;
    height: 480px;
    margin-left: 20px;
    margin-top: 30px;
    padding: 5px;
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.zooinfo h1 {
    font-size: 40px;
    margin-top: 20px;
}

.zooinfo h2 {
    font-family: ronnia, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.visitthezoo h2 {
    margin-bottom:0;
}

button {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background: #F8953D;
    color: white;
    display: block;
    margin: 20px auto;
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
}


button:hover {
    background-color: #EDD9BF;
  }

.zooinfo img {
    width: 89px;
    height: 45px;
}

.animal-icon-cont {
    width: 60px;
}
.animal-icon {
    width: 100%;
}

.visitthezoo {
    color: white;
    display: block;
    margin-left: 55px;
}

.titles {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}


h1 {
font-family: ronnia, sans-serif;
font-weight: 600;
font-style: normal;
color: #D6B252;
}

 h2 {
    font-family: ronnia, sans-serif;
    font-weight: 600;
    font-style: normal;
 }

 .card h2 {
    font-family: alkaline-caps, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #8B3F08;
    font-size: 50px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
 }

.family p {
font-family: aller, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px;
color: #8B3F08;
padding-left: 20px;
padding-right: 20px;
}

.crochunter {
    background-color: #46482D;
font-family: aller, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px;
    color: white;
    padding: 15px;
}

.crochunter h2 {
    text-align: center;
    font-size: 40px;
}

.cardsection {
 display: flex;
 justify-content: center;
}

.card-1 {
    width: 560px;
    padding-right: 20px;
    font-weight: 400;
}

.card-1 img {
    width: 100%;
}

.card-2 {
    width: 254px;
    padding-right: 10px;
}


.achievements {
    font-family: aller, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
        color: grey;
        padding: 10px;
}

.achievements h2 {
font-family: ronnia, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 40px;
color: #D6B252;
text-align: center;
}


.animals h1{
font-family: ronnia, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 40px;
color: #D6B252;
text-align: center;
}

.animals h3 {
font-family: aller, sans-serif;
font-weight: 700;
font-style: negreta;
color: #8B3F08;
font-size: 36px;
}

.animals-section {
    display: flex;
}

.animal-image-left {
    position: relative;
    left: 150px;
}

.animal-image-right {
    position: relative;
    right: 150px;
}

.animal-text {
    width: 50%;
    margin: 0 auto;
}

.yellowbox {
    height: 338px;
    background-color: #D6B252;
}


